body {

  padding: 0;
  font-family: monospace, sans-serif;
  margin: 0;
  background-color: lightgray;
  color: #333333;
}

header {
  background-color: darkslategray;
  color: lightgray;
  text-align: center;
  padding: 25px;
}

nav {
  background-color: dimgray;
  text-align: center;
  padding: 12px;
}

nav a {
  padding: 10px;
  color: lightgray;
  margin: 15px;
  text-decoration: none;
}

nav a:hover {
  border-top: solid 3px aquamarine;
  color: aquamarine;
}

main {
  width: 80%;
  margin: 30px auto;
}

section {
  border-radius: 1rem;
  background-color: #ffffff;
  padding: 25px;
  margin-bottom: 25px;
  border: 1px solid darkgray;
}

.botao {
  background-color: darkslategray;
  color: lightcyan;
  text-decoration: none;
  display: inline-block;
  margin-top: 50px;
  padding: 10px 20px;
}

.botao:hover {
  background-color: cadetblue;
  color: cyan;
}

button:hover {
  background-color: grey;
  color: whitesmoke;
}

button {
  transition: 0.7s;
  border: none;
  border-radius: 10px;
  background-color: darkslategray;
  color: lightcyan;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
}

.orcamento {
  margin-top: 1rem;
  padding: 1rem;
  background-color: darkgrey;
  color: ghostwhite;
  font-family: monospace, sans-serif;
  border-radius: 15px;
}

input {
  width: 95%;
  padding: 15px;
  margin-bottom: 10px;
}

select {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
}

.servico {
  width: 100%;
  background-color: #ffffff;
  border-left: 4px solid darkcyan;
  padding: 15px;
  margin: 15px 0;
}

#contato {
  text-align: center;
}

footer {
  flex: 1;
  background-color: darkslategray;
  color: aliceblue;
  text-align: center;
  padding: 10px;
}